.heading2 {
  font-family: "wildy_sansregular", sans-serif;
  text-transform: lowercase;

  color: #fff;
  font-size: 1rem;

  /* https://clamp.font-size.app/?config=eyJyb290IjoiMTYiLCJtaW5XaWR0aCI6IjU3NnB4IiwibWF4V2lkdGgiOiIxMjAwcHgiLCJtaW5Gb250U2l6ZSI6IjM0cHgiLCJtYXhGb250U2l6ZSI6IjY0cHgifQ%3D%3D */
  font-size: clamp(2.125rem, 0.3942rem + 4.8077vw, 4rem);
  /* 34 > 64 */

  /* https://clamp.font-size.app/?config=eyJyb290IjoiMTYiLCJtaW5XaWR0aCI6IjU3NnB4IiwibWF4V2lkdGgiOiIxMjAwcHgiLCJtaW5Gb250U2l6ZSI6IjQwcHgiLCJtYXhGb250U2l6ZSI6IjY0cHgifQ%3D%3D */
  line-height: clamp(2.5rem, 1.1154rem + 3.8462vw, 4rem);
  /* 40 > 64 */
}
