.bigLink {
  position: relative;
  height: 16vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  opacity: 0.8;
  transition: all 500ms ease;
}

.bigLink:hover {
  opacity: 1;
  transition: all 500ms ease;
}

.label svg {
  width: 100%;
  transform: scale(1);
  transition: all 300ms ease;
}

.bigLink:hover .label svg {
  transform: scale(1.1);
  transition: all 300ms ease;
}

.arrow {
  width: 30px;
  height: 68px;
  transition: transform 300ms ease;
}

.arrow svg {
  height: 100%;
  width: 100%;
  transform: rotate(-90deg);
}

.arrow svg path {
  fill: inherit;
}

.bigLink:hover .arrow {
  transform: translatex(15px);
}
