.bigLink {
  position: relative;
  height: 16vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  opacity: 0.8;
  transition: all 500ms ease;
}

.bigLink:hover {
  opacity: 1;
  transition: all 500ms ease;
}

.bigLink h1 {
  transform: scale(1);
  transition: all 500ms ease;
}

.bigLink:hover h1 {
  transform: scale(1.1);
  transition: all 500ms ease;
}

.bgRed {
  background-color: #eb1400;
}

.bgBlue {
  background-color: #192cd1;
}

.bgYellow {
  background-color: #f8ff1f;
}

.bgGreen {
  background-color: #00ba56;
}

.img {
  position: absolute;
  width: 20vw;
  max-width: 120px;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.img svg {
  width: 100%;
}