.container {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center center;
  clip-path: url(#hommus);
}


.svg {
  width: 0;
  height: 0;
}

.path {
  transform-origin: center;
  animation: spin 10s infinite linear;
  animation-play-state: running;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* .video {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  clip-path: url(#hommus);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */