.main {
  position: relative;
  background-image: url("../../images/bg-page-dark.jpg");
}

.mainInner {
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
  padding: 120px 20px;
  min-height: calc(100vh - 213px);
}
