.main {
  position: relative;
  background-image: url("../../public/images/white_construction_paper_seamless.jpg");
}

.mainInner {
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
  padding: 20px;
  flex-grow: 1;
}
