.container {
  width: 200px;
  height: 200px;
}

.svg {
  width: 200px;
  height: 200px;
}

.video {
  width: 200px;
  height: 200px;
  object-fit: cover;
  clip-path: url(#hommus);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
}