.footer {
  background-color: black;
  padding: 40px;
  border-top: 1px solid #1e1e1e;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 992px) {
  .footer {
    padding: 40px 80px;
  }
}

.footerLinks {
  display: block;
  list-style: none;
}

.footerLinks p {
  line-height: 2;
  text-transform: uppercase;
  font-weight: 900 !important;
}

.footerLinks p:hover {
  text-decoration: underline;
}

@media (min-width: 600px) {
  .footerLinks {
    display: flex;
    gap: 40px;
  }
}

.footerSocial {
  width: 80px;
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 600px) {
  .footerSocial {
    align-items: center;
  }
}

.footerSocial svg {
  display: block;
  width: 25px;
  fill: white;
}
