.a {
  display: block;
  width: 100%;
  aspect-ratio: 16/11;
  perspective: 400;
  perspective-origin: 50% 50%;
}

.logo {
  width: 100%;
  transform-style: preserve-3d;
  animation: linear 5000ms infinite rotate;
}

.logo svg path {
  fill: #fff;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.3));
}

.svg {
  position: absolute;
}

@keyframes rotate {
  0% {
    transform: translateZ(-100px) rotateY(0deg);
  }
  100% {
    transform: translateZ(-100px) rotateY(360deg);
  }
}
