.text {
  color: #fff;

  /* https://clamp.font-size.app/?config=eyJyb290IjoiMTYiLCJtaW5XaWR0aCI6IjU3NnB4IiwibWF4V2lkdGgiOiIxMjAwcHgiLCJtaW5Gb250U2l6ZSI6IjE2cHgiLCJtYXhGb250U2l6ZSI6IjIycHgifQ%3D%3D */
  font-size: clamp(1rem, 0.6538rem + 0.9615vw, 1.375rem);
  /* 16 > 22 */

  line-height: 1.6;
}
