.header {
  height: 50vh;
  max-height: 600px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
}

.main {
  min-height: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}