.callout {
  width: 100%;
  max-width: 600px;
  margin: 32px auto;
  padding: 30px;
  font-size: 30px;
  color: #fff;
  text-align: center;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}
