.content {
  width: 100%;
  display: grid;
  place-items: center;
}

.titleImage {
  position: relative;
  width: 300px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.titleImage svg {
  fill: #fff;
}
