.pageContainer {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 20px;
  flex-grow: 1;
}

.logo {
  width: 200px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.footer {
  position: relative;
  z-index: 1;
  padding: 20px;
  text-align: center;
}

.sectionContainer {
  position: relative;
  height: 100vh;
}

.videoContainer {
  height: 100vh;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  display: block;
  width: 100%;
  max-width: 992px;
  object-fit: contain;
  object-position: center;
  cursor: pointer;
}

.bigLinks {
  position: relative;
}

.bigLink {
  height: 16vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  opacity: 0.8;
  transition: all 500ms ease;
}

.bigLink:hover {
  opacity: 1;
  height: 20vh;
  transition: all 500ms ease;
}

.bgRed {
  background-color: #eb1400;
}

.bgYellow {
  background-color: #f8ff1f;
}

.bgGreen {
  background-color: #00ba56;
}
