.photoGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(6, 300px);
  grid-gap: 1rem;
  grid-auto-flow: dense;
}

.photoGridItem {
  position: relative;
  width: 100%;
  height: 100%;
}

.photoGridItem:nth-child(4n) {
  grid-column: span 2;
  grid-row: span 2;
}