.heading {
  text-align: center;
  padding: 32px;
}

.event {
  text-align: center;
  margin-bottom: 60px;
  color: #fff;
}

@media (min-width: 768px) {
  .event {
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
}

.date {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.venue {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}
@media (min-width: 992px) {
  .venue {
    margin-bottom: 16px;
  }
}

.location {
  font-size: 1rem;
  margin-bottom: 16px;
}

@media (min-width: 992px) {
  .location {
    margin-bottom: 16px;
    text-align: right;
  }
}

.tabHeadings {
  color: white;
  text-align: center;
  margin-bottom: 3rem;
}

.tabHeadings div,
.tabHeadings h3 {
  display: inline-block;
}

.tabButton {
  cursor: pointer;
}

.tabActive {
  border-bottom: 3px solid white;
}
