.titleImage {
  position: relative;
  width: 300px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.titleImage svg {
  fill: #fff;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-bottom: 80px;
}

.textContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 16px;
}

.videoContainer {
  position: relative;
  aspect-ratio: 16/9;
  background-color: #000;
  border: 0px solid #fff;
  transition: border 200ms linear;
}

.videoContainer:not(.videoActive):hover {
  border: 10px solid #fff;
  transition: border 100ms linear;
}

.videoContainer:not(.videoActive):hover .videoOverlay div {
  transform: scale(1.05);
  transition: transform 300ms ease;
}

.iconPlay {
  width: 50px;
  height: 50px;
}

.videoPoster {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.videoOverlay {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.6);
}

.videoOverlay div {
  transform: scale(1);
  transition: all 200ms linear;
}

.videoEmbed {
  width: 100%;
  height: 100%;
  border: 0;
}

@media (min-width: 992px) {
  .items {
    padding-bottom: 160px;
  }
}
