.pageContainer {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 144px; /* size of logo */

  background: radial-gradient(circle at center, #424242, #000);
}
